<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Resources/Fonts/Exo2-Black.ttf</string>
		<string>Resources/Fonts/Exo2-Bold.ttf</string>
		<string>Resources/Fonts/Exo2-ExtraBold.ttf</string>
		<string>Resources/Fonts/Exo2-ExtraLight.ttf</string>
		<string>Resources/Fonts/Exo2-Italic.ttf</string>
		<string>Resources/Fonts/Exo2-Light.ttf</string>
		<string>Resources/Fonts/Exo2-LightItalic.ttf</string>
		<string>Resources/Fonts/Exo2-Medium.ttf</string>
		<string>Resources/Fonts/Exo2-Regular.ttf</string>
		<string>Resources/Fonts/Exo2-SemiBold.ttf</string>
		<string>Resources/Fonts/Exo2-Thin.ttf</string>
	</array>
</dict>
</plist>
